@font-face {
  font-family: "qiji-combo";
  src:url("qiji-combo.ttf") format("ttf");
}/*俺也不知为何没生效，可能是ttf档太大了*/

h1 {
    text-align: center;
    font-family: 'Noto Serif SC', serif;
    font-size: 2rem;
    margin-bottom: 0%;
}

h2{
    text-align: center;
    font-family: 'Noto Serif SC', serif;
}

img{
  width: 100%;
}

#nav {
    height: 100px;
    line-height: 80px;
    text-align: center;
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Serif SC', serif;
  }

#banner {
    width:100%;
  height:100%;
  min-width: 1000px;
  background-position: center;
}

#bottom {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background-color: gainsboro;
    color: gray;
  }
