:root{
  --primary: #7b9a93;
  --secondary:#f4ece1;
}

.title{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color:#7b9a93;
  text-align: center;
}


// Sweet Alert更改樣式
.swal2-html-container{
  font-size: 16px !important;
  // background-color: aqua;
}

.swal2-icon.swal2-success .swal2-success-ring{
  border: 0.25em solid #7b9a93 !important;
}

.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color:#CFA861 !important;
  color: #fff;
  font-size: 1em;
}
.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px #CFA861 !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  // display: block;
  // position: absolute;
  // top: 2.3125em;
  // width: 2.9375em;
  // height: 0.3125em;
  border-radius: 0.125em;
  background-color: #CFA861 !important;
}

.swal2-icon.swal2-error {
  border-color: #CFA861 !important;
  color: #CFA861 !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
  display: block;
  position: absolute;
  z-index: 2;
  height: 0.3125em;
  border-radius: 0.125em;
  background-color: #7b9a93 !important;
}

.swal2-popup,
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix{
  background-color: #f4ece1 !important;
}
.swal2-popup{
  width: 18rem !important;
}